.productContainer {
    width: 400px;
    margin-top: 40px;
    border-bottom: 2px solid black;

}
.mainContainer{
    display: grid;
    grid-template-rows: 100px 1fr;
}
.MainContainerOfProduct{
    display: grid;
        grid-template-columns: repeat(3,450px);
}
.productPrices {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-auto-rows: 1fr;
}

.editButton,
.deleteButton {
    border-radius: 10px;
    padding: 8px 12px 5px;
    font-size: 15px;
    margin-left: 100px;
    cursor: pointer;
}

.nameAndQuantity {
    display: flex;
    align-items: start;
    justify-content: start;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container {
    position: absolute;
    position: fixed;
    top: 100px;
    left: 400px;
    width: 500px;
    height: 400px;
    background: rgba(23, 22, 22, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
}

.formPopContainer {
    display: grid;
    grid-template-columns: 200px;
    justify-content: center;
    height: 50vh;
    align-items: center;
}

.cancelContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    border: 1px solid red;
    cursor: pointer;
    height: 30px;
    width: 35px;
    font-size: 20px;
    border-radius: 30px;
}
.cancelContainer:hover{
background-color: red;
color: white;
transition: 0.3s ease-in-out;
}
.mrpPopEdit,
.pricePopEdit,
.namePopEdit,
.quantityPopEdit {
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}
.pricePopEdit {
    margin-left: 20px;
}
.submitBtn {
    padding: 5px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    cursor: pointer;
}